body {
    background-color: #e6f2e8;
    margin: 2px;
}

button {
    margin-top: 1px;   
    margin-left: 5px;
    margin-right: 5px;    
}
h1 {
    color: green;
    text-align: center;
    font-family: 'Goudy Old Style';
    font-style: unset;
    margin-top: 5px;
    margin-bottom: 10px;
}

#myCanvas {
    background-color: #ebebeb;
    margin-top: 10px;
  
}

#scoreScreenCanvas {
    background-color: #ebebeb;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
     
}

#buttonsDiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;    

}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;    
}

.canvasDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.horizontDiv {
    display: inline-block;
    vertical-align: middle;  

}

#container {
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #4CAF50;  
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;   
    font-size: 16px;
  }
  
  .buttonAttack {
    background-color: #4CAF50;  
    border: none;
    color: white;
    padding: 50px 24px;
    text-align: center;
    text-decoration: none;  
    font-size: 16px;
  }
  